@import "./global/variables.scss";

#root {
  width: 95vw;
  min-width: 95vw;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  @media (max-width: 540px) {
    padding: 1rem;
  }
}
