.auth-section {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 40px;

  & > .form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & > .labels-container,
    & > .inputs-container {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  & > .buttons-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    & > .btn {
      margin-bottom: 5px;
      color: #323232;
      font-weight: bold;
      border-radius: 4px;
      padding: 8px 10px;

      &:disabled {
        opacity: 0.3;
      }
    }
  }
}
