.dashboard-page {
  background-color: #fff3;
  height: 100%;
  width: 100%;

  & > .title-section {
    background-color: #fff3;
    position: sticky;
    top: 0;
    margin-bottom: 40px;
    padding: 0.5rem 0;
  }
}
