@import "./global/variables.scss";
@import "./global/animatons.scss";

.skeleton-card-container {
  user-select: none;
  color: transparent;
  background-color: #fff3;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border-radius: 6px;
  animation: SkeletonWhite 1000ms infinite alternate;
  transition: all 150ms ease-out;

  &:hover {
    translate: 0 -1%;
    background-color: #fff4;
  }

  & > p {
    color: transparent;
    font-size: 1.2rem;
    flex: 1;

    & > span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
