$main-light: rgba(252, 246, 246);
$main-light70: rgba(252, 246, 246, 0.7);
$main-light30: rgba(252, 246, 246, 0.3);

$main-dark: rgba(43, 175, 102);
$main-dark90: rgba(43, 175, 102, 0.9);
$main-dark20: rgba(43, 175, 102, 0.2);
